.navbar-nav {
  display: flex;
  width: 500px;
  color: rgb(242, 240, 247) important;
  justify-content: center;
}

.form-inline {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.collapse {
  display: grid;
  justify-content: flex-end;
}

.navbar {
  margin-left: 25px;
  margin-right: 25px;
}

.mx-auto {
  color: aliceblue;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 2px 2px #140202;
}

.mx-auto-1 {
  color: aliceblue;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 2px 2px #140202;
}

.mx-auto-2 {
  color: aliceblue;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px #140202;
}

.row {
  display: flex;
}
